@model List<Sneakers_shop.Models.Buty>

    <p class="text-center">
    <a asp-controller="Buty" asp-action="Add" class="btn btn-primary btn-lg">Dodaj</a>
</p>
<table class="table">
@foreach (var element in Model)
{
    <tr>
        <td>@element.Marka</td> 
        <td>@element.Model</td>
        <!-- <td>  <div class="border border-success text-success" style="text-align:center;border-radius: 10px; margin: 5px;"> element. </div>  </td> -->
        <td>@element.Cena</td>
    </tr>
}
</table>